.blogContainer
	.container-title
		h1.news-title Latest Gaming Posts
	.container-posts
		each post in posts.results
			.container-img
				a(href='/blog/' + post._id )
					img.blog-img(src=post._.image.src({ width: 460, height: 306, crop: "fill", transformation: [{effect: "gradient_fade,y_0.7,b_rgb:D4AF37"}]}), alt="Post")
					.topText
						.post-title #{post.title}
						.post-date #{post._.publishedDate.format('MMMM DD, YYYY')}
					a.link-post(href='/blog/' + post._id ) Read More



		ul.pagination

			// displays number of posts in database
			if posts.totalPages > 1
				.lead.text-muted Showing
					strong #{posts.first}
					|  to
					strong #{posts.last}
					|  of
					strong #{posts.total}
					|  posts

				// display icons arrows for prevous  page and next page
			if posts.totalPages > 1
				ul.pagination
					if posts.previous
						li: a(href='?page=' + posts.previous): span.glyphicon.glyphicon-chevron-left
					else
						li.disabled: a(href='?page=' + 1): span.glyphicon.glyphicon-chevron-left

						// creates pages equal to the number of posts
					each p, i in posts.pages
						li(class=posts.currentPage === p ? 'active' : null)
							a(href='?page=' + (p === '...' ? (i ? posts.totalPages : 1) : p ))= p
					if posts.next
						li: a(href='?page=' + posts.next): span.glyphicon.glyphicon-chevron-right
