.blogContainer
	.container-title
		h1.news-title Latest Gaming Posts
	.container-posts
		if(section == '/blog')
			each post in posts.results
				.container-img
					a(href='/blog/' + post._id )
						img.blog-img(src=post._.image.src({ width: 460, height: 306, crop: "fill", transformation: [{effect: "gradient_fade,y_0.7,b_rgb:D4AF37"}]}), alt="Post")
						.topText
							.post-title #{post.title}
							.post-date #{post._.publishedDate.format('MMMM DD, YYYY')}
						a.link-post(href='/blog/' + post._id ) Read More
		else
			each post in posts
				.container-img
					img.blog-img(src=post._.image.src({ width: 460, height: 306, crop: "fill", transformation: [{effect: "gradient_fade,y_0.7,b_rgb:D4AF37"}]}), alt="Post")
					.topText
						.post-title #{post.title}
						.post-date #{post._.publishedDate.format('MMMM DD, YYYY')}
					a.link-post(href='/blog/' + post._id ) Read More



